.md-modal {
  &-root {
    display: flex;
    align-items: flex-end;
    width: 100%;
  }

  &-overlay {
    background: rgba(25, 25, 27, 0.50);
    backdrop-filter: blur(2px);
  }

  &-content {
    display: flex;
    width: 100%;
    padding: 32px 16px;
    background: #FFF;
    border-radius: 16px 16px 0 0;
    position: relative;
    max-height: 95%;

    @apply dark:tw-bg-ink/darker;

    &_calendar {
      height: 455px;
    }
  }

  &-line {
    position: absolute;
    content: '';
    top: 14px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 44px;
    height: 4px;
    border-radius: 16px;

    @apply tw-bg-sky/base dark:tw-bg-ink/dark;
  }
}
