@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
}

#app {
  min-height: 100vh;
  transition: .25s ease-in-out;
}

[data-mode="dark"] {
  #app {
    @apply tw-bg-ink/darkest;
  }

  svg {
    [fill]:not([fill="#6B4EFF"]):not(.dark\:tw-fill-ink\/darker) {
      fill: #F2F4F5;
    }

    [stroke]:not([stroke="#6B4EFF"]):not(.dark\:tw-fill-ink\/darker) {
      stroke: #F2F4F5;
    }
  }
}
